<tr>
  <td class="py-4 pl-4 pr-3 text-center text-sm font-medium text-gray-900 sm:pl-0">
    <%= link_to board.name, board_path(board), class: "#{game_status_color(board)}", data: { turbo: false } %>
  </td>
  <td class="py-4 pl-4 pr-3 text-center text-sm font-medium text-gray-900 sm:pl-0"><%= board.email %></td>
  <td class="py-4 pl-4 pr-3 text-center text-sm font-medium text-gray-900 sm:pl-0"><%= nicely_formatted_datetime(board.created_at) %></td>
  <td class="py-4 pl-4 pr-3 text-center text-sm font-medium text-gray-900 sm:pl-0"><%= board.dimensions %></td>
  <td class="py-4 pl-4 pr-3 text-center text-sm font-medium text-gray-900 sm:pl-0"><%= board.mine_number %></td>
  <td class="py-4 pl-4 pr-3 text-center text-sm font-medium text-gray-900 sm:pl-0"><%= board.difficulty %></td>
</tr>
